{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}

<div class="col-md-12 col-sm-12 content-lista nenhum-imovel">
 	<!-- <img src="theme/images/img_erro_imovel.jpg" class="img-responsive" alt=""> -->
 	<h1>Ops! <strong>Acesso não autorizado!</strong></h1>
 	<p>Opa! você tentou acessar um conteúdo que não está disponível publicamente. Gostaria de mandar um 
            <a href="/contato/fale-conosco/">e-mail</a> informando a nossa equipe? Iremos investigar e resolver o problema. Obrigado!
 	</p>
</div>

{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
