.whatsapp_link {
  position: fixed;
  bottom: 90px;
  right: 15px;
  width: auto;
  height: auto;
  z-index: 99;
}

.whatsapp_link a {
  text-decoration: none;
  background: #25D366;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
  -ms-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 60px;
  width: 60px;
  transition: all .3s;
  animation: pulse 8s infinite;
}

.whatsapp_link a svg {
  width: 28px;
  height: 28px;
}

.whatsapp_link a i {
  color: #FFFFFF;
}

.modal-backdrop.fade.show {
  opacity: 0.5;
}

.fade.show {
  opacity: 1;
}

.land-lancamentos .no-margin {
  margin-left: 0;
  margin-right: 0;
}

.land-lancamentos p {
  font-size: 18px;
}

.land-lancamentos .no-padding {
  padding-left: 0;
  padding-right: 0;
}

.land-lancamentos header .pre-header {
  background: #3a3131;
  color: #FFF;
  padding: 8px 0;
}

.land-lancamentos header .pre-header ul {
  margin-bottom: 0;
}

.land-lancamentos header .pre-header ul li {
  list-style: none;
  display: inline-block;
}

.land-lancamentos header .pre-header ul li .select-filial {
  background: #ededed;
  padding: 0 10px;
  color: #000;
  border: none;
  outline: none;
}

.land-lancamentos header .pre-header select.select-filial {
  height: 40px;
  padding: 0 0 0 10px;
  margin: 0px;
  transition: all 0.5s ease-in-out;
  border: none;
  background: #fff;
  text-align: center;
  font: 500 16px/16px "Trebuchet MS", Helvetica, sans-serif;
  color: #a0a1a0;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 0px 1px 3px -1px rgba(50, 50, 50, 0.75);
}

.land-lancamentos header .pre-header .label-filial label {
  padding: 12px 0 7px;
}

.land-lancamentos header .main-header {
  background: #b3953d;
  color: #FFF;
  padding: 16px 0;
}

.land-lancamentos header .main-header .logo {
  margin-right: 15px;
}

.land-lancamentos header .main-header .logo img,
.land-lancamentos header .main-header .logo object {
  max-height: 40px;
}

.land-lancamentos header .main-header nav.navbar {
  min-height: 0px;
  margin: 0;
  border: none;
}

.land-lancamentos header .main-header nav.navbar a,
.land-lancamentos header .main-header nav.navbar a:link,
.land-lancamentos header .main-header nav.navbar a:visited {
  text-transform: uppercase;
  color: #FFF;
  background: #b3953d;
  padding: 10px 24px;
  font-family: "Montserrat", Helvetica, sans-serif;
  line-height: 14px;
}

.land-lancamentos header .main-header nav.navbar a:hover,
.land-lancamentos header .main-header nav.navbar a:active,
.land-lancamentos header .main-header nav.navbar a .active,
.land-lancamentos header .main-header nav.navbar a:link:hover,
.land-lancamentos header .main-header nav.navbar a:link:active,
.land-lancamentos header .main-header nav.navbar a:link .active,
.land-lancamentos header .main-header nav.navbar a:visited:hover,
.land-lancamentos header .main-header nav.navbar a:visited:active,
.land-lancamentos header .main-header nav.navbar a:visited .active {
  background: #3a3131;
}

.land-lancamentos header .main-header .navbar-toggle {
  margin: 0;
  font-size: 25px;
  padding: 0 10px;
  position: relative;
  top: 0px;
}

.land-lancamentos header .main-header .telefones ul {
  margin: 16px 0;
}

.land-lancamentos header .main-header .telefones ul li {
  display: inline;
}

.land-lancamentos header .main-header .telefones ul li.cel {
  display: none;
}

.land-lancamentos header .sub-header {
  background: #212a31;
  color: #FFF;
}

.land-lancamentos header .sub-header nav.navbar {
  margin: 0;
}

.land-lancamentos header .sub-header nav.navbar a {
  color: #FFF;
}

.land-lancamentos header .sub-header .telefones ul {
  margin: 16px 0;
}

.land-lancamentos header .sub-header .telefones ul li {
  display: inline;
}

.land-lancamentos header .sub-header .telefones ul li.cel {
  display: none;
}

.land-lancamentos .spark-screen {
  padding-top: 0px;
}

.land-lancamentos .spark-screen .banner_emp {
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.land-lancamentos .spark-screen .banner_emp .banner_info {
  background: #fff;
  margin-right: 20%;
  margin-top: 20%;
  padding: 25px 25px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.65);
}

.land-lancamentos .spark-screen .banner_emp .banner_info .status {
  border: 1px solid #333;
  color: #333;
  font-weight: bold;
  font-style: italic;
  padding: 4px 7px;
  border-radius: 20px;
  display: inline-block;
  font-size: 13px;
}

.land-lancamentos .spark-screen .banner_emp .banner_info .preco {
  color: #b3953d;
  font-weight: bold;
  font-size: 40px;
  line-height: 30px;
  margin-left: 10px;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
}

.land-lancamentos .spark-screen .banner_emp .banner_info .preco small {
  font-size: 18px;
  vertical-align: top;
}

.land-lancamentos .spark-screen .banner_emp .banner_info .name_bairro {
  padding: 10px 0;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  margin: 10px 0;
}

.land-lancamentos .spark-screen .banner_emp .banner_info .name_bairro h1 {
  font-weight: bold;
  margin: 0;
}

.land-lancamentos .spark-screen .banner_emp .banner_info .caract {
  color: #b3953d;
}

.land-lancamentos .spark-screen .banner_emp .banner_info .caract ul {
  margin: 10px 0 0;
  padding: 0;
}

.land-lancamentos .spark-screen .banner_emp .banner_info .caract ul li {
  list-style-type: none;
  display: inline-block;
  min-width: 31.5%;
}

.land-lancamentos .spark-screen .banner_emp .banner_info .caract ul li:not(:last-child) {
  border-right: 1px solid #dbdbdb;
  margin-right: 1%;
}

.land-lancamentos .spark-screen .banner_emp .banner_info .caract ul li img {
  display: block;
  margin: 0 auto 10px;
}

.land-lancamentos .spark-screen .banner_emp .banner_info .caract ul li span {
  min-height: 35px;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}

.land-lancamentos .spark-screen .banner_emp .banner_info .caract ul li span.tip {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.land-lancamentos .spark-screen .banner_emp .banner_info .calls {
  margin: 15px -10px 0;
  position: relative;
}

.land-lancamentos .spark-screen .banner_emp .banner_info .calls button,
.land-lancamentos .spark-screen .banner_emp .banner_info .calls a {
  width: 100%;
  min-height: 75px;
  color: #fff;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  transition: all .3s;
}

.land-lancamentos .spark-screen .banner_emp .banner_info .calls button *,
.land-lancamentos .spark-screen .banner_emp .banner_info .calls a * {
  position: relative;
  z-index: 9;
}

.land-lancamentos .spark-screen .banner_emp .banner_info .calls button:hover,
.land-lancamentos .spark-screen .banner_emp .banner_info .calls a:hover {
  text-decoration: none;
  color: #3a3131;
}

.land-lancamentos .spark-screen .banner_emp .banner_info .calls button:hover:before,
.land-lancamentos .spark-screen .banner_emp .banner_info .calls a:hover:before {
  left: 0;
  right: 0;
}

.land-lancamentos .spark-screen .banner_emp .banner_info .calls button.btcontato,
.land-lancamentos .spark-screen .banner_emp .banner_info .calls a.btcontato {
  background: #b3953d;
}

.land-lancamentos .spark-screen .banner_emp .banner_info .calls button.btfalar,
.land-lancamentos .spark-screen .banner_emp .banner_info .calls a.btfalar {
  background: #3a3131;
}

.land-lancamentos .spark-screen .banner_emp .banner_info .calls button.btconhecer,
.land-lancamentos .spark-screen .banner_emp .banner_info .calls a.btconhecer {
  background: #333;
}

.land-lancamentos .spark-screen .banner_emp .banner_info .calls button:before,
.land-lancamentos .spark-screen .banner_emp .banner_info .calls a:before {
  content: '';
  display: block;
  position: absolute;
  background: #F9A21A;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
  z-index: 0;
  transition: all .3s;
}

.land-lancamentos .spark-screen .banner_emp .banner_info .calls .call_whatsapp {
  position: absolute;
  background: #fff;
  height: 75px;
  width: 75px;
  right: -90px;
  bottom: 75px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  font-size: 40px;
  color: #198011;
  box-shadow: inset 6px 0 15px 0px rgba(0, 0, 0, 0.4), 4px 0 7px 0px rgba(0, 0, 0, 0.4);
  transition: all .3s;
  border-radius: 0 2px 2px 0;
}

.land-lancamentos .spark-screen .banner_emp .banner_info .calls .call_whatsapp:hover {
  text-decoration: none;
  background: #198011;
  color: #fff;
}

.land-lancamentos .spark-screen .banner_emp .banner_info .calls .call_whatsapp:before {
  display: none;
}

.land-lancamentos .spark-screen h2.sectionTitle {
  font-weight: normal;
  font-family: 'Gotham Light';
  text-align: left;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 36px;
}

.land-lancamentos .spark-screen h2.sectionTitle strong {
  font-family: 'Gotham Bold';
  font-weight: normal;
  position: relative;
}

.land-lancamentos .spark-screen h2.sectionTitle strong:after {
  content: '';
  width: 100%;
  height: 4px;
  background: #333;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.land-lancamentos .spark-screen .lightgallery_slide {
  padding: 0;
  margin: 0;
  background: #f1f1f1;
}

.land-lancamentos .spark-screen .lightgallery_slide li {
  list-style-type: none;
}

.land-lancamentos .spark-screen .lightgallery_slide .img-thumb {
  min-height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.land-lancamentos .spark-screen .lightgallery_slide .img-thumb:hover i {
  opacity: 1;
  visibility: visible;
}

.land-lancamentos .spark-screen .lightgallery_slide .img-thumb i {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 28px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  transition: all .3s;
  opacity: 0;
  visibility: hidden;
}

.land-lancamentos .spark-screen .lightgallery_slide.owl-carousel .owl-stage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.land-lancamentos .spark-screen .lightgallery_slide .owl-nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
}

.land-lancamentos .spark-screen .lightgallery_slide .owl-nav .owl-next,
.land-lancamentos .spark-screen .lightgallery_slide .owl-nav .owl-prev {
  position: absolute;
  height: 60px;
  width: 30px;
  background: rgba(255, 255, 255, 0.7);
  color: #333;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: -20px;
  transition: all .3s;
}

.land-lancamentos .spark-screen .lightgallery_slide .owl-nav .owl-next:hover,
.land-lancamentos .spark-screen .lightgallery_slide .owl-nav .owl-prev:hover {
  background: white;
}

.land-lancamentos .spark-screen .lightgallery_slide .owl-nav .owl-next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.land-lancamentos .spark-screen .lightgallery_slide .owl-nav .owl-left {
  left: 0;
  border-radius: 0 2px 2px 0;
}

.land-lancamentos .spark-screen .section {
  padding: 70px 0;
}

.land-lancamentos .spark-screen .section.sectionHalfImg {
  padding: 0;
}

.land-lancamentos .spark-screen .section.default-topic:nth-child(even) {
  background: #f1f1f1;
}

.land-lancamentos .spark-screen .section.default-topic ul {
  padding: 0;
  margin: 20px 0 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.land-lancamentos .spark-screen .section.default-topic ul li {
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
  list-style-type: none;
  text-align: left;
  line-height: 1.3;
  margin-bottom: 15px;
  padding-left: 20px;
}

.land-lancamentos .spark-screen .section.default-topic ul li:before {
  content: '\F05D';
  font: normal normal normal 14px/1 FontAwesome;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: -15px;
  color: #b3953d;
}

.land-lancamentos .spark-screen .sectionHalfImg {
  position: relative;
}

.land-lancamentos .spark-screen .sectionHalfImg .image {
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
}

.land-lancamentos .spark-screen .sectionHalfImg .image.right {
  right: 0;
}

.land-lancamentos .spark-screen .sectionHalfImg .image.left {
  left: 0;
}

.land-lancamentos .spark-screen .sectionHalfImg .image .owl-carousel,
.land-lancamentos .spark-screen .sectionHalfImg .image .owl-stage-outer,
.land-lancamentos .spark-screen .sectionHalfImg .image .owl-stage,
.land-lancamentos .spark-screen .sectionHalfImg .image .owl-item,
.land-lancamentos .spark-screen .sectionHalfImg .image .item,
.land-lancamentos .spark-screen .sectionHalfImg .image .img-thumb {
  height: 100%;
}

.land-lancamentos .spark-screen .sectionHalfImg .text {
  padding-top: 40px;
  padding-bottom: 40px;
}

.land-lancamentos .spark-screen .sectionHalfImg .text ul {
  margin: 30px 0 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.land-lancamentos .spark-screen .sectionHalfImg .text ul li {
  list-style-type: none;
  width: 48%;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}

.land-lancamentos .spark-screen .sectionHalfImg .text ul li:before {
  font-family: FontAwesome;
  content: "\F0DA";
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  font-weight: 900;
}

.land-lancamentos .spark-screen .bg-dark {
  background: #333;
  color: #fff;
}

.land-lancamentos .spark-screen .bg-dark h2.sectionTitle strong:after {
  background: #b3953d;
}

.land-lancamentos .spark-screen #product-content .o-empreendimento h2.sectionTitle {
  margin-top: 40px;
}

.land-lancamentos .spark-screen #product-content .o-empreendimento .lightgallery_slide .img-thumb {
  min-height: 370px;
}

.land-lancamentos .spark-screen #product-content .o-empreendimento .icones_emp {
  margin: 40px 0;
  padding: 0;
  text-align: center;
}

.land-lancamentos .spark-screen #product-content .o-empreendimento .icones_emp li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  min-width: 15%;
  min-height: 115px;
}

.land-lancamentos .spark-screen #product-content .o-empreendimento .icones_emp li:not(:last-child) {
  border-right: 1px solid #dbdbdb;
}

.land-lancamentos .spark-screen #product-content .o-empreendimento .icones_emp li img,
.land-lancamentos .spark-screen #product-content .o-empreendimento .icones_emp li svg {
  display: block;
  margin: 10px auto 20px;
}

.land-lancamentos .spark-screen #product-content .o-empreendimento .icones_emp li img path,
.land-lancamentos .spark-screen #product-content .o-empreendimento .icones_emp li img rect,
.land-lancamentos .spark-screen #product-content .o-empreendimento .icones_emp li svg path,
.land-lancamentos .spark-screen #product-content .o-empreendimento .icones_emp li svg rect {
  fill: #b3953d;
}

.land-lancamentos .spark-screen #product-content .o-empreendimento .icones_emp li span {
  text-transform: uppercase;
  color: #575757;
  font-weight: bold;
}

.land-lancamentos .spark-screen #product-content .o-empreendimento h3.conheca {
  margin-top: 70px;
  margin-bottom: 40px;
  border: none;
}

.land-lancamentos .spark-screen #product-content .o-empreendimento h3.conheca a {
  border-bottom: 1px solid #b3953d;
  color: #b3953d;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  padding-bottom: 10px;
}

.land-lancamentos .spark-screen #product-content .o-empreendimento h3.conheca a:after {
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  background: #fff;
  border-bottom: 1px solid #b3953d;
  border-right: 1px solid #b3953d;
  transform: rotate(45deg);
  display: block;
  bottom: -8px;
  left: 50%;
  margin-left: -8px;
}

.land-lancamentos .spark-screen #product-content .o-empreendimento h3.conheca a:hover {
  color: #3a3131;
  text-decoration: none;
  border-bottom: 1px solid #3a3131;
}

.land-lancamentos .spark-screen #product-content .o-empreendimento h3.conheca a:hover:after {
  border-bottom: 1px solid #3a3131;
  border-right: 1px solid #3a3131;
}

.land-lancamentos .spark-screen .blocoWhitgaleria .sectionTitle {
  text-align: center;
}

.land-lancamentos .spark-screen .blocoWhitgaleria .gallery {
  margin-top: 60px;
}

.land-lancamentos .spark-screen .blocoWhitgaleria .gallery .img-thumb {
  min-height: 500px;
}

.land-lancamentos .spark-screen .blocoWhitgaleria .gallery .img-thumb i {
  background: rgba(0, 0, 0, 0.75);
  font-size: 36px;
}

.land-lancamentos .spark-screen .blocoWhitgaleria .gallery .owl-nav {
  position: unset;
  top: unset;
}

.land-lancamentos .spark-screen .blocoWhitgaleria .gallery .owl-nav .owl-prev,
.land-lancamentos .spark-screen .blocoWhitgaleria .gallery .owl-nav .owl-next {
  top: 0;
  bottom: 0;
  height: 100%;
  width: 12%;
  margin-top: unset;
}

.land-lancamentos .spark-screen .blocoWhitgaleria .gallery .owl-nav .owl-next {
  background: rgba(255, 255, 255, 0);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(80%, white), color-stop(100%, white));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 80%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

.land-lancamentos .spark-screen .blocoWhitgaleria .gallery .owl-nav .owl-prev {
  background: white;
  background: -webkit-gradient(left top, right top, color-stop(0%, white), color-stop(20%, white), color-stop(100%, rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, white 0%, white 20%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

.land-lancamentos .spark-screen .descript iframe {
  border: none;
  width: 100%;
}

.land-lancamentos .spark-screen .content_iframe {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin: 30px auto 0;
}

.land-lancamentos .spark-screen .content_iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.land-lancamentos .spark-screen .localizacao h2.sectionTitle {
  text-align: center;
  margin-bottom: 40px;
}

.land-lancamentos .spark-screen #map_canvas {
  width: 100%;
  height: 500px;
}

.land-lancamentos .spark-screen #map_canvas .titulo {
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 12px;
  margin: 0;
  color: #07406a;
}

.land-lancamentos .spark-screen #map_canvas p {
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 12px;
  margin: 0;
}

.land-lancamentos #FormInteressado .modal-dialog,
.land-lancamentos #FormOutpage .modal-dialog {
  max-width: 400px;
  margin-top: 80px;
}

.land-lancamentos #FormInteressado .modal-dialog form,
.land-lancamentos #FormOutpage .modal-dialog form {
  padding: 5px 20px;
}

.land-lancamentos #FormInteressado .formResposta,
.land-lancamentos #FormOutpage .formResposta {
  text-align: center;
  display: none;
}

.land-lancamentos #FormInteressado .formResposta strong,
.land-lancamentos #FormOutpage .formResposta strong {
  display: block;
}

.land-lancamentos #FormInteressado .formResposta .fa-check-circle-o,
.land-lancamentos #FormOutpage .formResposta .fa-check-circle-o {
  font-size: 64px;
  display: block;
  margin: 20px auto;
  color: green;
}

.land-lancamentos #FormInteressado .formResposta h2,
.land-lancamentos #FormOutpage .formResposta h2 {
  font-size: 16px;
}

.land-lancamentos #FormOutpage .modal-dialog {
  max-width: 500px;
  margin-top: 150px;
}

.land-lancamentos #FormOutpage .modal-dialog h4 {
  font-size: 28px;
}

.land-lancamentos #FormOutpage .modal-dialog .formEnviar h5 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
}

.land-lancamentos #FormOutpage .modal-dialog .formEnviar button.btn {
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 18px;
  display: block;
  height: auto;
}

.land-lancamentos #barraContato {
  background: #b3953d;
  color: #fff;
}

.land-lancamentos #barraContato .wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.land-lancamentos #barraContato .wrap h3 {
  color: #fff;
  margin: 0 0 10px;
  border-bottom: none;
  padding: 0;
}

.land-lancamentos #barraContato .wrap p {
  margin: 0;
}

.land-lancamentos #barraContato .wrap .btns {
  width: 35%;
  display: -ms-flexbox;
  display: flex;
}

.land-lancamentos #barraContato .wrap .btns button,
.land-lancamentos #barraContato .wrap .btns a {
  min-height: 70px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-transform: uppercase;
  color: #fff;
  border: none;
  width: 50%;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  transition: all .3s;
}

.land-lancamentos #barraContato .wrap .btns button *,
.land-lancamentos #barraContato .wrap .btns a * {
  position: relative;
  z-index: 9;
}

.land-lancamentos #barraContato .wrap .btns button:before,
.land-lancamentos #barraContato .wrap .btns a:before {
  content: '';
  display: block;
  position: absolute;
  background: #F9A21A;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
  z-index: 0;
  transition: all .3s;
}

.land-lancamentos #barraContato .wrap .btns button:hover,
.land-lancamentos #barraContato .wrap .btns a:hover {
  text-decoration: none;
  color: #3a3131;
}

.land-lancamentos #barraContato .wrap .btns button:hover:before,
.land-lancamentos #barraContato .wrap .btns a:hover:before {
  left: 0;
  right: 0;
}

.land-lancamentos #barraContato .wrap .btns button span,
.land-lancamentos #barraContato .wrap .btns a span {
  display: block;
  text-align: center;
}

.land-lancamentos #barraContato .wrap .btns a {
  background: #3a3131;
}

.land-lancamentos #barraContato .wrap .btns button {
  background: #3a3131;
}

.land-lancamentos #barraContato .wrap .texto {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  width: 60%;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 25px 0;
}

.land-lancamentos .footer-aux {
  background: #1b1b1b;
  border-top: 1px solid #000;
  color: #FFF;
  padding: 15px 0;
}

.land-lancamentos .footer-aux .redes-sociais {
  padding: 12px 0;
  text-align: right;
}

.land-lancamentos .footer-aux .logo_footer {
  margin-top: 15px;
}

.land-lancamentos .footer-aux p {
  padding: 2px 0;
  font-size: 18px;
  margin: 0;
}

.land-lancamentos .footer-aux hr {
  margin: 4px 0;
}

.land-lancamentos .footer-aux a {
  margin: 0 0 0 10px;
  font-size: 18px;
  line-height: 42px;
  border-radius: 32px;
  padding: 0px;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  background: #fff;
  color: #31373c;
  transition: all .3s;
  border: 0;
}

.land-lancamentos .footer-aux a:hover {
  background: #3a3131;
  color: #fff;
}

.land-lancamentos .footer-sub {
  background: #ecebeb;
  color: #333;
  padding: 16px 0;
}

.land-lancamentos .footer-sub .container .rt_foot a {
  color: #b3953d;
  display: inline-block;
  position: relative;
  top: -3px;
}

.land-lancamentos .footer-sub .container .rt_foot a:hover {
  color: #FFF;
}

.land-lancamentos .footer-sub p {
  margin: 5px 0 0;
}

.land-lancamentos .footer-sub strong {
  color: #3a3131;
}

.land-lancamentos .footer-main {
  margin-top: 0px;
}

.land-lancamentos #news {
  background: #b3953d;
  padding: 60px 0;
  color: #fff;
}

.land-lancamentos #news a {
  color: #fff;
  font-weight: bold;
}

.land-lancamentos #news h3 {
  font-size: 32px;
}

.land-lancamentos #news p {
  font-size: 20px;
}

.land-lancamentos #news form {
  margin-top: 25px;
}

.land-lancamentos #news .btn {
  background: #3a3131;
}

.land-lancamentos #news .btn:hover {
  background: #000;
}

.land-lancamentos .wrap_atendimento_widget {
  overflow: unset;
}

.land-lancamentos .wrap_atendimento_widget .atendimento_widget .buttons:not(:last-child) {
  opacity: 1;
}

@media screen and (min-width: 769px) {
  .land-lancamentos .wrap_atendimento_widget {
    overflow: unset;
  }

  .land-lancamentos .wrap_atendimento_widget .atendimento_widget .buttons:not(:last-child) {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .land-lancamentos .row_status {
    margin-right: 10px;
  }

  .land-lancamentos .spark-screen .banner_emp .pull-right {
    float: none !important;
  }

  .land-lancamentos .spark-screen .banner_emp .row_valor {
    float: right !important;
  }

  .land-lancamentos .spark-screen .banner_emp .banner_info {
    margin-right: unset;
    padding-top: 15px;
  }

  .land-lancamentos .spark-screen .banner_emp .banner_info .calls .call_whatsapp {
    display: none;
  }

  .land-lancamentos .spark-screen .sectionHalfImg .image {
    position: relative;
    top: unset;
    bottom: unset;
    right: unset;
  }

  .land-lancamentos .spark-screen .sectionHalfImg .text ul {
    padding-left: 15px;
  }

  .land-lancamentos .spark-screen .sectionHalfImg .text ul li {
    width: 100%;
  }

  .land-lancamentos .spark-screen #product-content .o-empreendimento .icones_emp li {
    min-width: 30%;
  }
}

@media screen and (max-width: 576px) {
  .land-lancamentos #barraContato .wrap {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .land-lancamentos #barraContato .wrap .texto {
    width: 100%;
    text-align: center;
  }

  .land-lancamentos #barraContato .wrap .btns {
    width: unset;
    margin-left: -15px;
    margin-right: -15px;
  }

  .land-lancamentos #barraContato .wrap .btns button,
  .land-lancamentos #barraContato .wrap .btns a {
    padding: 20px 0;
  }
}

@media screen and (max-width: 330px) {
  .land-lancamentos .row_valor,
  .land-lancamentos .row_status {
    display: block;
    float: none !important;
  }

  .land-lancamentos .row_status {
    text-align: right;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .land-lancamentos .spark-screen .banner_emp .banner_info .caract ul {
    margin-top: 20px;
  }

  .land-lancamentos .spark-screen .banner_emp .banner_info .caract ul li {
    width: 100%;
    display: block;
    border-right: none;
  }

  .land-lancamentos .spark-screen .banner_emp .banner_info .caract ul li:not(:last-child) {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 10px;
  }

  .land-lancamentos .spark-screen .banner_emp .banner_info .caract ul li:after {
    content: '';
    display: block;
    clear: both;
  }

  .land-lancamentos .spark-screen .banner_emp .banner_info .caract ul li img {
    display: inline-block;
    float: left;
    margin-right: 10px;
  }

  .land-lancamentos .spark-screen .banner_emp .banner_info .caract ul li span {
    float: left;
  }
}


/*# sourceMappingURL=land.css.map*/