<section id="boxes_info">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <a href="/blog">
                    <figure class="figure">
                        <img src="img/corretora_de_seguros.jpg" class="figure-img img-fluid img-responsive" alt="Corretora de seguros">
                    </figure>
                </a>
            </div>

            <div class="col-sm-4">
                <a href="/blog">
                    <figure class="figure">
                        <img src="img/venda_aluguel_imovel.jpg" class="figure-img img-fluid img-responsive" alt="Corretora de seguros">
                    </figure>
                </a>
            </div>


            <div class="col-sm-4">
                {# <div class="fb-page" data-href="{{siteparam.facebook_url}}" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="{{siteparam.facebook_url}}" class="fb-xfbml-parse-ignore"><a href="{{siteparam.facebook_url}}">Rioimob Empreendimentos Imobiliários</a></blockquote>
                </div>#}
                 <a href="/#">
                    <figure class="figure">
                        <img src="img/porto_seguro.jpg" class="figure-img img-fluid img-responsive" alt="Porto Seguro">
                    </figure>
                </a>
            </div>
        </div>
    </div>
</section>

