<div class="container-fluid financiamento my-5">
	<div class="bancos">
	<div class="row">
		<h2>Financiamento e bancos
		</h2>
	</div>
		<div class="row">
			<h3>
				Escolha um banco e faça uma simulação:</h3>
		</div>
		<div class="row">
			<div class="container-bancos">
				<div>
					<a href="https://www42.bb.com.br/portalbb/imobiliario/creditoimobiliario/simular,802,2250,2250.bbx?eni_gclid=EAIaIQobChMIwOL31vCp6gIVi4eRCh1JoA7xEAAYASAAEgIonfD_BwE&pk_vid=eba308cce2543d901593531841c78024"><img src='/img/bancos/banco-brasil.jpg'/></a>
				</div>
				<div>
					<a href="https://banco.bradesco/html/classic/produtos-servicos/emprestimo-e-financiamento/encontre-seu-credito/simuladores-imoveis.shtm#box1-comprar"><img src='/img/bancos/bradesco.jpg'/></a>
				</div>
				<div>
					<a href="http://www8.caixa.gov.br/siopiinternet-web/"><img src='/img/bancos/caixa.jpg'/></a>
				</div>
				<div>
					<a href=" https://www.itau.com.br/creditos-financiamentos/imoveis/simulador/"><img src='/img/bancos/itau.jpg'/></a>
				</div>
				<div>
					<a href="https://www.negociosimobiliarios.santander.com.br/negociosimobiliarios/?headerandfooter/#/home"><img src='/img/bancos/santander.jpg'/></a>
				</div>
			</div>
		</div>
	</div>
</div>
