<section id="a_imobiliaria_home">
    <div class="container">
        <div class="row">

            <div class="col-sm-6">
                <h5>A Imobiliária</h5>
                <h3>Seu sonho levado a sério!</h3>
                <p>A Paiva Consultoria Imobiliária foi criada com o objetivo de oferecer a seus clientes um serviço diferenciado.</p>

                <p>Em um mercado em constante crescimento e evolução, a empresa investe na transparência e na seriedade no relacionamento com o cliente, pois acredita que somente desta forma se constroem parcerias duradouras.</p>

                <a href="/a-empresa" class="btn btn-default">Quem Somos</a>
            </div>

            <div class="col-sm-6 ">
                <img src="img/familia.png" alt="" class="img-responsive">
            </div>

        </div>
    </div>
</section>

