<div class="vitrine" id="home-vitrine-regioes">
    <div class="container">
        <h2>Encontre seu imóvel por Região</h2>
        
        <div class="row wrapper_regioes">
            
            <div class="col-12 col-md-3 item_reg">
                <a class="box_regiao" href='/venda/imoveis?busca={"Finalidade":"venda","ValorMin":0,"ValorMax":50000000,"AreaMin":0,"AreaMax":6000,"Caracteristica":"[]","Anuncio":"[]","AutoSuggest":"[{\"SuggestTipo\":1,\"SuggestTipoAsString\":\"Agrupamento\",\"Tag\":\"agrrjzona-oeste\",\"Nome\":\"Zona%20Oeste%20-%20RJ\",\"BairroID\":null,\"Bairro\":null,\"Zona\":null,\"CidadeID\":null,\"Cidade\":null,\"Empreendimento\":null,\"Condominio\":null,\"AgrupamentoID\":4,\"Agrupamento\":\"Zona%20Oeste\",\"Estado\":\"RJ\"}]","HasMapa":"false","Page":1,"PageSize":10}'>
                    <div class="container-regiao lazyload" data-blazy="/img/zona-oeste.jpg">
                    </div>
                    <h4>Zona Oeste</h4>
                </a>
            </div>

            <div class="col-12 col-md-3 item_reg">
                <a class="box_regiao" href='/venda/imoveis?busca={"Finalidade":"venda","ValorMin":0,"ValorMax":50000000,"AreaMin":0,"AreaMax":6000,"Caracteristica":"[]","Anuncio":"[]","AutoSuggest":"[{\"SuggestTipo\":1,\"SuggestTipoAsString\":\"Agrupamento\",\"Tag\":\"agrrjzona-sul\",\"Nome\":\"Zona%20Sul%20-%20RJ\",\"BairroID\":null,\"Bairro\":null,\"Zona\":null,\"CidadeID\":null,\"Cidade\":null,\"Empreendimento\":null,\"Condominio\":null,\"AgrupamentoID\":5,\"Agrupamento\":\"Zona%20Sul\",\"Estado\":\"RJ\"}]","HasMapa":"false","Page":1,"PageSize":10}'>
                    <div class="container-regiao lazyload" data-blazy="/img/zona-sul.jpg">
                    </div>
                    <h4>Zona Sul</h4>
                </a>
            </div>

            <div class="col-12 col-md-3 item_reg">
                <a class="box_regiao" href='/venda/imoveis?busca={"Finalidade":"venda","ValorMin":0,"ValorMax":50000000,"AreaMin":0,"AreaMax":6000,"Caracteristica":"[]","Anuncio":"[]","AutoSuggest":"[{\"SuggestTipo\":1,\"SuggestTipoAsString\":\"Agrupamento\",\"Tag\":\"agrrjgrande-tijuca\",\"Nome\":\"Grande%20Tijuca%20-%20RJ\",\"BairroID\":null,\"Bairro\":null,\"Zona\":null,\"CidadeID\":null,\"Cidade\":null,\"Empreendimento\":null,\"Condominio\":null,\"AgrupamentoID\":6,\"Agrupamento\":\"Grande%20Tijuca\",\"Estado\":\"RJ\"}]","HasMapa":"false","Page":1,"PageSize":10}'>
                    <div class="container-regiao lazyload" data-blazy="/img/tijuca.jpg">
                    </div>
                    <h4>Zona Norte</h4>
                </a>
            </div>

            <div class="col-12 col-md-3 item_reg">
                <a class="box_regiao" href='/venda/imoveis?busca={"Finalidade":"venda","ValorMin":0,"ValorMax":50000000,"AreaMin":0,"AreaMax":6000,"Caracteristica":"[]","Anuncio":"[]","AutoSuggest":"[{\"SuggestTipo\":1,\"SuggestTipoAsString\":\"Agrupamento\",\"Tag\":\"agrrjoutras-regioes\",\"Nome\":\"Outras%20Regiões%20-%20RJ\",\"BairroID\":null,\"Bairro\":null,\"Zona\":null,\"CidadeID\":null,\"Cidade\":null,\"Empreendimento\":null,\"Condominio\":null,\"AgrupamentoID\":7,\"Agrupamento\":\"Outras%20Regiões\",\"Estado\":\"RJ\"}]","HasMapa":"false","Page":1,"PageSize":10}'>
                    <div class="container-regiao lazyload" data-blazy="/img/outras-regioes.jpg">
                    </div>
                    <h4>Outras Regiões</h4>
                </a>
            </div>
        </div>
    </div>
</div>

