{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}

<div class="vitrine" id="home-vitrine-regioes">
    <div class="container">
        <h2 class="mb-3">Imóveis por Região</h2>
        
        <div class="row">
            <div class="col-12 col-sm-4">
                <a class="box_regiao" href="/imoveis/barra/">
                    <div class="container-regiao lazyload" data-blazy="/img/barra-e-recreio.jpg">
                        <h4>Barra e Recreio</h4>
                        <p>
                            <span>Veja os imóveis na cidade</span> 
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-4">
                <a class="box_regiao" href="/imoveis/zona-sul/">
                    <div class="container-regiao lazyload" data-blazy="/img/zona-sul.jpg">
                        <h4>Zona Sul</h4>
                        <p>
                            <span>Veja os imóveis na cidade</span> 
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-4">
                <a class="box_regiao" href="/imoveis/zona-norte/">
                    <div class="container-regiao lazyload" data-blazy="/img/zona-norte.jpg">
                        <h4>Zona Norte</h4>
                        <p>
                            <span>Veja os imóveis na cidade</span> 
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        
    </div>
</div>
    


{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
{# ARQUIVO CORE / NÃO ALTERAR #}
