<section id="mais_buscadas">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div><a><b>Bairros mais pesquisados</b></a></div>            

                <a onclick="goTo($(this))" href="/busca/imoveis/taquara/" data-url='/venda/imoveis?busca={"Finalidade":"venda","ValorMin":"0","ValorMax":"5000000","AreaMin":"0","AreaMax":"6000","Caracteristica":"[]","Anuncio":"[]","AutoSuggest":"[{\"SuggestTipo\":5,\"SuggestTipoAsString\":\"Bairro\",\"Tag\":\"rjrio-de-janeirotaquara\",\"Nome\":\"Taquara,%20Rio%20de%20Janeiro%20-%20RJ\",\"BairroID\":5,\"Bairro\":\"Taquara\",\"Zona\":null,\"CidadeID\":1,\"Cidade\":\"Rio%20de%20Janeiro\",\"Empreendimento\":null,\"Condominio\":null,\"AgrupamentoID\":null,\"Agrupamento\":null,\"Estado\":\"RJ\"}]","HasMapa":"false","Page":"1","PageSize":"10","state-d":"on"}' class="tag">Imóveis em Taquara</a>

                <a onclick="goTo($(this))" href="/busca/imoveis/copacabana/" data-url='/venda/imoveis?busca={"Finalidade":"venda","ValorMin":"0","ValorMax":"5000000","AreaMin":"0","AreaMax":"6000","Caracteristica":"[]","Anuncio":"[]","AutoSuggest":"[{\"SuggestTipo\":5,\"SuggestTipoAsString\":\"Bairro\",\"Tag\":\"rjrio-de-janeirocopacabana\",\"Nome\":\"Copacabana,%20Rio%20de%20Janeiro%20-%20RJ\",\"BairroID\":19,\"Bairro\":\"Copacabana\",\"Zona\":null,\"CidadeID\":1,\"Cidade\":\"Rio%20de%20Janeiro\",\"Empreendimento\":null,\"Condominio\":null,\"AgrupamentoID\":null,\"Agrupamento\":null,\"Estado\":\"RJ\"}]","HasMapa":"false","Page":"1","PageSize":"10","state-d":"on"}' class="tag">Imóveis em Copacabana</a>

                <a onclick="goTo($(this))" href="/busca/imoveis/jacarepagua/" data-url='/venda/imoveis?busca={"Finalidade":"venda","ValorMin":"0","ValorMax":"5000000","AreaMin":"0","AreaMax":"6000","Caracteristica":"[]","Anuncio":"[]","AutoSuggest":"[{\"SuggestTipo\":5,\"SuggestTipoAsString\":\"Bairro\",\"Tag\":\"rjrio-de-janeirojacarepagua\",\"Nome\":\"Jacarepaguá,%20Rio%20de%20Janeiro%20-%20RJ\",\"BairroID\":3,\"Bairro\":\"Jacarepaguá\",\"Zona\":null,\"CidadeID\":1,\"Cidade\":\"Rio%20de%20Janeiro\",\"Empreendimento\":null,\"Condominio\":null,\"AgrupamentoID\":null,\"Agrupamento\":null,\"Estado\":\"RJ\"}]","HasMapa":"false","Page":"1","PageSize":"10","state-d":"on"}' class="tag">Imóveis em Jacarepaguá</a>

                <a onclick="goTo($(this))" href="/busca/imoveis/barra-da-tijuca/" data-url='/venda/imoveis?busca={"Finalidade":"venda","ValorMin":"0","ValorMax":"5000000","AreaMin":"0","AreaMax":"6000","Caracteristica":"[]","Anuncio":"[]","AutoSuggest":"[{\"SuggestTipo\":5,\"SuggestTipoAsString\":\"Bairro\",\"Tag\":\"rjrio-de-janeirobarra-da-tijuca\",\"Nome\":\"Barra%20da%20Tijuca,%20Rio%20de%20Janeiro%20-%20RJ\",\"BairroID\":1,\"Bairro\":\"Barra%20da%20Tijuca\",\"Zona\":null,\"CidadeID\":1,\"Cidade\":\"Rio%20de%20Janeiro\",\"Empreendimento\":null,\"Condominio\":null,\"AgrupamentoID\":null,\"Agrupamento\":null,\"Estado\":\"RJ\"}]","HasMapa":"false","Page":"1","PageSize":"10","state-d":"on"}' class="tag">Imóveis em Barra da Tijuca</a>

                <a onclick="goTo($(this))" href="/busca/imoveis/vargem-pequena/" data-url='/venda/imoveis?busca={"Finalidade":"venda","ValorMin":"0","ValorMax":"5000000","AreaMin":"0","AreaMax":"6000","Caracteristica":"[]","Anuncio":"[]","AutoSuggest":"[{\"SuggestTipo\":5,\"SuggestTipoAsString\":\"Bairro\",\"Tag\":\"rjrio-de-janeirovargem-pequena\",\"Nome\":\"Vargem%20Pequena,%20Rio%20de%20Janeiro%20-%20RJ\",\"BairroID\":50,\"Bairro\":\"Vargem%20Pequena\",\"Zona\":null,\"CidadeID\":1,\"Cidade\":\"Rio%20de%20Janeiro\",\"Empreendimento\":null,\"Condominio\":null,\"AgrupamentoID\":null,\"Agrupamento\":null,\"Estado\":\"RJ\"}]","HasMapa":"false","Page":"1","PageSize":"10","state-d":"on"}' class="tag">Imóveis em Vargem Pequena</a>

                <a onclick="goTo($(this))" href="/busca/imoveis/pechincha/" data-url='/venda/imoveis?busca={"Finalidade":"venda","ValorMin":"0","ValorMax":"5000000","AreaMin":"0","AreaMax":"6000","Caracteristica":"[]","Anuncio":"[]","AutoSuggest":"[{\"SuggestTipo\":5,\"SuggestTipoAsString\":\"Bairro\",\"Tag\":\"rjrio-de-janeiropechincha\",\"Nome\":\"Pechincha,%20Rio%20de%20Janeiro%20-%20RJ\",\"BairroID\":6,\"Bairro\":\"Pechincha\",\"Zona\":null,\"CidadeID\":1,\"Cidade\":\"Rio%20de%20Janeiro\",\"Empreendimento\":null,\"Condominio\":null,\"AgrupamentoID\":null,\"Agrupamento\":null,\"Estado\":\"RJ\"}]","HasMapa":"false","Page":"1","PageSize":"10","state-d":"on"}' class="tag">Imóveis em Pechincha</a>

                <a onclick="goTo($(this))" href="/busca/imoveis/engenho-de-dentro/" data-url='/venda/imoveis?busca={"Finalidade":"venda","ValorMin":"0","ValorMax":"5000000","AreaMin":"0","AreaMax":"6000","Caracteristica":"[]","Anuncio":"[]","AutoSuggest":"[{\"SuggestTipo\":5,\"SuggestTipoAsString\":\"Bairro\",\"Tag\":\"rjrio-de-janeiroengenho-de-dentro\",\"Nome\":\"Engenho%20de%20Dentro,%20Rio%20de%20Janeiro%20-%20RJ\",\"BairroID\":49,\"Bairro\":\"Engenho%20de%20Dentro\",\"Zona\":null,\"CidadeID\":1,\"Cidade\":\"Rio%20de%20Janeiro\",\"Empreendimento\":null,\"Condominio\":null,\"AgrupamentoID\":null,\"Agrupamento\":null,\"Estado\":\"RJ\"}]","HasMapa":"false","Page":"1","PageSize":"10","state-d":"on"}' class="tag">Imóveis em Engenho de Dentro</a>

                <a onclick="goTo($(this))" href="/busca/imoveis/anil/" data-url='/venda/imoveis?busca={"Finalidade":"venda","ValorMin":"0","ValorMax":"5000000","AreaMin":"0","AreaMax":"6000","Caracteristica":"[]","Anuncio":"[]","AutoSuggest":"[{\"SuggestTipo\":5,\"SuggestTipoAsString\":\"Bairro\",\"Tag\":\"rjrio-de-janeiroanil\",\"Nome\":\"Anil,%20Rio%20de%20Janeiro%20-%20RJ\",\"BairroID\":8,\"Bairro\":\"Anil\",\"Zona\":null,\"CidadeID\":1,\"Cidade\":\"Rio%20de%20Janeiro\",\"Empreendimento\":null,\"Condominio\":null,\"AgrupamentoID\":null,\"Agrupamento\":null,\"Estado\":\"RJ\"}]","HasMapa":"false","Page":"1","PageSize":"10","state-d":"on"}' class="tag">Imóveis na Anil</a>

                <a onclick="goTo($(this))" href="/busca/imoveis/recreio-dos-bandeirantes/" data-url='/venda/imoveis?busca={"Finalidade":"venda","ValorMin":"0","ValorMax":"5000000","AreaMin":"0","AreaMax":"6000","Caracteristica":"[]","Anuncio":"[]","AutoSuggest":"[{\"SuggestTipo\":5,\"SuggestTipoAsString\":\"Bairro\",\"Tag\":\"rjrio-de-janeirorecreio-dos-bandeirantes\",\"Nome\":\"Recreio%20dos%20Bandeirantes,%20Rio%20de%20Janeiro%20-%20RJ\",\"BairroID\":2,\"Bairro\":\"Recreio%20dos%20Bandeirantes\",\"Zona\":null,\"CidadeID\":1,\"Cidade\":\"Rio%20de%20Janeiro\",\"Empreendimento\":null,\"Condominio\":null,\"AgrupamentoID\":null,\"Agrupamento\":null,\"Estado\":\"RJ\"}]","HasMapa":"false","Page":"1","PageSize":"10","state-d":"on"}' class="tag">Imóveis na Recreio dos Bandeirantes</a>

            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    function goTo(el){
        setTimeout(function() {
            location = el.data('url');
        }, 1);
        return false;        
    }
</script>