<section id="sedes_mapa">
    <div class="container">
        <h2>Nossas sedes no mapa</h2>
        <div id="map_canvas"></div>

        <div class="row mt-5">
            <div class="col-12 col-xl-4 box-endereco">
                <h4><i class="fas fa-map-marker-alt"></i> Zona ste</h4>
                <p>
                    Avenida das Américas, 13721 - Gr. 201 Recreio dos Bandeirantes - RJ
                </p>
                <ul>
                    <li>
                        <i class="fas fa-phone"></i>
                        <span>(21) 3434-9000</span>
                    </li>
                    <li>
                        <i class="fab fa-whatsapp"></i>
                        <span>(21) 99112-6840</span>
                    </li>
                </ul>
            </div>
            
            <div class="col-12 col-xl-4 box-endereco">
                <h4><i class="fas fa-map-marker-alt"></i> Zona Sul</h4>
                <p>
                    Rua Senador Vergueiro, 40 - A Flamengo - RJ
                </p>
                <ul>
                    <li>
                        <i class="fas fa-phone"></i>
                        <span>(21) 2112-0300</span>
                    </li>
                    <li>
                        <i class="fab fa-whatsapp"></i>
                        <span>(21) 99198-7876</span>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-xl-4 box-endereco">
                <h4><i class="fas fa-map-marker-alt"></i> Zona Norte</h4>
                <p>
                    Rua Borda do Mato, 4 - Grajaú - RJ
                </p>
                <ul>
                    <li>
                        <i class="fas fa-phone"></i>
                        <span>(21) 2112-3454</span>
                    </li>
                    <li>
                        <i class="fab fa-whatsapp"></i>
                        <span>(21) 99134-1712</span>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>

<script>
    var mymap  = L.map('map_canvas').setView([-22.9474784, -43.367168], 11);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoiZ2FicmllbGluZm9yY2UiLCJhIjoiY2szb292Nnl1MWo2NjNjbjNncDE3YTYyMiJ9.uGJaYdyBzUqPM711YhW_Yg'
    }).addTo(mymap);

    var m1 = L.marker([-23.0102609, -43.4503381]).addTo(mymap);
    var m2 = L.marker([-22.9341541,-43.1782848]).addTo(mymap);
    var m3 = L.marker([-22.9235512, -43.2608905]).addTo(mymap);

    m1.bindPopup("<b> Avenida das Américas, 13721 - Gr. 201 Recreio dos Bandeirantes - RJ</b><br><a href='tel:2134349000'>(21) 3434-9000</a>");
    m2.bindPopup("<b>Rua Senador Vergueiro, 40 - A Flamengo - RJ</b><br><a hrf='tel:2121120300'>(21) 2112-0300</a>");
    m3.bindPopup("<b>Rua Borda do Mato, 4 - Grajaú - RJ</b><br><a href='2121123454'>(21) 2112-3454</a>");



</script>

