<div class="whatsapp_link">
    <a href="{{link|default('#')}}" target="{{target|default('_blank')}}" style="background:{{color|default('#25D366')}}">
        <i class="fa {{font_awesome_class|default('fa-whatsapp')}} fa-2x"></i>  
    </a>
</div>