
<section id="barra_flutuante" class="hidden-sm hidden-xs">
	<div class="container">
		<div class="row">
            <div class="col-sm-2">
                <div class="item_barra">
                    <a href="javascript:void(0);" onclick="$('#FaleWhatsapp').modal()" class="link_whatsapp_trat" target="_blank">
                        <div class="pull-left wrap_icon">
                            <i class="fa fa-whatsapp"></i>
                        </div>
                        <span class="pull-left">Atendimento<br>via Whatsapp</span>
                    </a>
                </div>
            </div>

            <div class="col-sm-2">
				<div class="item_barra">
					<a href="javascript:void(0);" onclick="$('#LigamosForYou').modal()">
						<div class="pull-left wrap_icon">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="240 240 32 32" enable-background="new 240 240 32 32" xml:space="preserve">
                                <g>
                                    <g>
                                        <path fill="#6D6D6D" d="M265.29,259.823c-0.655-0.683-1.445-1.047-2.282-1.047c-0.831,0-1.628,0.357-2.311,1.04l-2.134,2.127
                                        c-0.176-0.095-0.352-0.182-0.521-0.27c-0.243-0.122-0.473-0.236-0.668-0.358c-2-1.27-3.816-2.924-5.559-5.065
                                        c-0.844-1.067-1.412-1.965-1.824-2.877c0.554-0.506,1.067-1.033,1.567-1.54c0.189-0.189,0.378-0.385,0.567-0.574
                                        c1.418-1.418,1.418-3.255,0-4.674l-1.844-1.844c-0.209-0.209-0.426-0.425-0.628-0.642c-0.405-0.419-0.831-0.851-1.27-1.256
                                        c-0.655-0.648-1.438-0.993-2.263-0.993c-0.824,0-1.621,0.344-2.296,0.993c-0.007,0.007-0.007,0.007-0.014,0.014l-2.296,2.316
                                        c-0.864,0.865-1.357,1.918-1.465,3.141c-0.162,1.972,0.418,3.809,0.864,5.011c1.094,2.952,2.729,5.687,5.167,8.618
                                        c2.958,3.532,6.518,6.322,10.583,8.287c1.554,0.736,3.627,1.607,5.943,1.756c0.143,0.007,0.291,0.014,0.426,0.014
                                        c1.561,0,2.87-0.561,3.897-1.675c0.007-0.014,0.02-0.021,0.026-0.034c0.352-0.425,0.757-0.811,1.183-1.222
                                        c0.29-0.277,0.587-0.567,0.878-0.872c0.668-0.695,1.02-1.506,1.02-2.336c0-0.838-0.358-1.642-1.04-2.317L265.29,259.823z
                                         M267.708,266.935C267.701,266.935,267.701,266.941,267.708,266.935c-0.264,0.284-0.533,0.54-0.824,0.824
                                        c-0.438,0.419-0.885,0.857-1.304,1.351c-0.682,0.729-1.485,1.074-2.539,1.074c-0.102,0-0.209,0-0.311-0.007
                                        c-2.006-0.129-3.87-0.912-5.268-1.581c-3.823-1.85-7.18-4.478-9.969-7.807c-2.303-2.776-3.843-5.343-4.863-8.098
                                        c-0.628-1.682-0.857-2.992-0.756-4.228c0.068-0.79,0.372-1.445,0.932-2.006l2.303-2.303c0.331-0.311,0.682-0.479,1.026-0.479
                                        c0.426,0,0.77,0.256,0.986,0.473c0.006,0.007,0.013,0.013,0.02,0.02c0.412,0.385,0.804,0.784,1.216,1.209
                                        c0.209,0.216,0.425,0.432,0.642,0.655l1.844,1.844c0.716,0.716,0.716,1.378,0,2.094c-0.196,0.196-0.385,0.392-0.581,0.581
                                        c-0.567,0.581-1.107,1.121-1.695,1.648c-0.014,0.014-0.027,0.021-0.034,0.034c-0.581,0.581-0.473,1.148-0.351,1.533
                                        c0.007,0.021,0.014,0.041,0.021,0.061c0.479,1.162,1.155,2.256,2.181,3.559l0.007,0.007c1.864,2.296,3.83,4.086,5.998,5.457
                                        c0.276,0.176,0.561,0.317,0.831,0.452c0.243,0.122,0.473,0.236,0.668,0.358c0.027,0.014,0.055,0.034,0.081,0.047
                                        c0.229,0.115,0.446,0.169,0.669,0.169c0.561,0,0.912-0.351,1.026-0.466l2.31-2.31c0.23-0.229,0.595-0.507,1.021-0.507
                                        c0.418,0,0.763,0.264,0.973,0.493c0.006,0.007,0.006,0.007,0.013,0.014l3.722,3.721
                                        C268.396,265.51,268.396,266.219,267.708,266.935z"></path>
                                        <path fill="#6D6D6D" d="M257.294,247.612c1.77,0.297,3.377,1.134,4.66,2.417s2.113,2.891,2.418,4.66
                                        c0.074,0.446,0.459,0.756,0.897,0.756c0.055,0,0.102-0.006,0.155-0.013c0.5-0.081,0.831-0.554,0.75-1.054
                                        c-0.364-2.141-1.378-4.093-2.925-5.64c-1.546-1.546-3.498-2.56-5.639-2.924c-0.5-0.081-0.966,0.25-1.054,0.743
                                        C256.47,247.051,256.794,247.531,257.294,247.612z"></path>
                                        <path fill="#6D6D6D" d="M271.963,254.116c-0.602-3.526-2.263-6.734-4.815-9.287c-2.553-2.553-5.761-4.214-9.286-4.815
                                        c-0.493-0.088-0.959,0.25-1.047,0.743c-0.081,0.5,0.25,0.966,0.749,1.054c3.147,0.534,6.018,2.026,8.301,4.302
                                        c2.283,2.283,3.769,5.153,4.302,8.3c0.074,0.446,0.46,0.756,0.898,0.756c0.055,0,0.102-0.007,0.155-0.013
                                        C271.713,255.082,272.051,254.609,271.963,254.116z"></path>
                                    </g>
                                </g>
                            </svg>
                        </div>
						<span class="pull-left">Ligamos para <br>você!</span>
					</a>
				</div>
			</div>

            <div class="col-sm-2">
				<div class="item_barra">
					<a href="javascript:void(0);" onclick="$('#AtendimentoEmail').modal()">
						<div class="pull-left wrap_icon">
                            <svg version="1.1" id="email_barra" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="240 240 32 32" enable-background="new 240 240 32 32" xml:space="preserve">
                                <g>
                                    <path d="M268,244h-24c-2.209,0-4,1.791-4,4v16c0,2.209,1.791,4,4,4h24c2.209,0,4-1.791,4-4v-16C272,245.791,270.209,244,268,244z
                                         M261.416,254.674l8.467-7.256c0.059,0.188,0.117,0.375,0.117,0.582v16c0,0.139-0.053,0.262-0.08,0.393L261.416,254.674z M268,246
                                        c0.133,0,0.25,0.051,0.375,0.076L256,256.684l-12.375-10.607C243.75,246.051,243.867,246,244,246H268z M242.079,264.391
                                        C242.052,264.26,242,264.139,242,264v-16c0-0.207,0.06-0.395,0.118-0.582l8.464,7.254L242.079,264.391z M244,266
                                        c-0.202,0-0.386-0.059-0.57-0.115l8.672-9.91l3.248,2.783c0.187,0.162,0.419,0.242,0.65,0.242s0.464-0.08,0.65-0.242l3.248-2.783
                                        l8.672,9.91c-0.184,0.057-0.367,0.115-0.57,0.115H244z"></path>
                                </g>
                            </svg>
                        </div>
						<span class="pull-left">Atendimento<br>via E-mail</span>
					</a>
				</div>
			</div>

            <div class="col-sm-2">
				<div class="item_barra">
					<a href="javascript:void(0);" onclick="$('#AnuncieEmail').modal()">
						<div class="pull-left wrap_icon">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="31.69px" height="32px" viewBox="240.156 239.998 31.69 32" enable-background="new 240.156 239.998 31.69 32"
                                 xml:space="preserve">
                                <g>
                                    <g>
                                        <path fill="#FFFFFF" d="M247.867,248.734v10.09h2.189v-11.567l6.682-4.594l6.532,4.587v14.226c0.559-0.461,1.11-0.928,1.645-1.419
                                            c0.184-0.169,0.365-0.34,0.545-0.511v-10.931l1.308,0.895l1.235-1.807l-10.637-7.274l-0.614-0.432l-0.627,0.431l-4.914,3.364
                                            v-1.712h-2.755v3.599l-2.869,1.964l1.237,1.806L247.867,248.734z"/>
                                        <path fill="#FFFFFF" d="M257.188,258.58v-1.312c1.271-0.284,2.082-1.205,2.082-2.393c0-1.19-0.645-1.94-2.147-2.504
                                            c-1.013-0.404-1.338-0.644-1.338-0.981c0-0.388,0.346-0.619,0.926-0.619c0.724,0,1.213,0.228,1.505,0.364l0.325,0.149l0.469-1.598
                                            l-0.182-0.091c-0.482-0.241-0.984-0.376-1.565-0.42v-1.158h-1.496v1.252c-1.229,0.291-1.984,1.154-1.984,2.292
                                            c0,1.413,1.159,2.023,2.292,2.433c1.039,0.379,1.182,0.712,1.182,1.016c0,0.443-0.417,0.73-1.063,0.73
                                            c-0.594,0-1.25-0.186-1.797-0.509l-0.271-0.16l-0.468,1.631l0.148,0.099c0.444,0.297,1.166,0.512,1.887,0.569v1.208H257.188
                                            L257.188,258.58z"/>
                                        <path fill="#FFFFFF" d="M271.842,263.629c-0.059-0.711-0.581-1.264-1.348-1.873c-0.536-0.428-1.576-0.927-2.74-0.927
                                            c-0.986,0-2.414,0.357-3.627,2.057c-1.092,1.393-2.46,1.958-3.569,2.171c0.099-0.249,0.163-0.548,0.166-0.971
                                            c0.01-2.363-1.873-4.139-4.478-4.15l-9.296,0.008c-0.873,0-1.731,0.257-2.455,0.723v-1.21h-4.338v12.542h4.338v-1.332
                                            c0.164,0.081,0.39,0.244,0.39,0.244c0.747,0.412,1.904,0.918,3.085,0.918h8.541c7.355,0,12.436-4.121,14.276-6.163
                                            C271.338,265.055,271.907,264.424,271.842,263.629z M243.042,262.228h-1.517v-1.518h1.517V262.228L243.042,262.228z
                                             M269.661,264.649c-1.706,1.892-6.403,5.662-13.151,5.662h-8.541c-1.444,0-2.999-1.13-3.013-1.141
                                            c-0.133-0.098-0.292-0.147-0.451-0.147c-0.003,0-0.007,0.001-0.011,0.001v-6.683c0.166,0.003,0.332-0.045,0.468-0.149l0.166-0.125
                                            c0.516-0.392,1.163-0.608,1.817-0.608l9.292-0.007c1.483,0.005,2.976,0.857,2.968,2.628c0,1.022-0.682,1.075-0.719,1.084h-6.811
                                            c-0.418,0-0.757,0.339-0.757,0.758s0.339,0.758,0.757,0.758h7.23l0.402-0.001c1.136-0.001,3.993-0.269,6.023-2.874
                                            c0.007-0.009,0.015-0.018,0.021-0.027c0.675-0.95,1.482-1.432,2.4-1.432c0.828,0,1.537,0.39,1.796,0.596
                                            c0.76,0.605,0.781,0.804,0.781,0.812C270.333,263.904,269.845,264.446,269.661,264.649z" />
                                    </g>
                                </g>
                            </svg>
                        </div>
						<span class="pull-left">Anuncie<br>seu imóvel</span>
					</a>
				</div>
			</div>

			<div class="col-sm-4">
                <a href="#" class="corr_online">
                    <div class="corretora_online"></div>
                </a>
			</div>
		</div>

	</div>
</section>

<script>
	$(document).ready(function() {

		function floatBar(bar) {
            var pageOffset = $(bar).offset().top;

            $(window).scroll(function(event) {

                var positionElement = $(window).scrollTop() + $(window).outerHeight() - $(bar).outerHeight(); 
                
                if ( positionElement <= pageOffset ) {
                    
                    $(bar).css({
                        position: 'fixed',
                        bottom: '-2px'
                    });
                } else {
                    $(bar).css({
                        position: 'relative',
                        bottom: '0'
                    });
                }
            }); 
        }

        setTimeout(function(){ 
            floatBar('#barra_flutuante'); 
        }, 1500);



	});
</script>

