<div class="wrap_atendimento_widget click_off">
    <nav class="atendimento_widget">
        <a target="_blank" href="https://twitter.com/intent/tweet?text=Veja esta oferta&url={{url().current}}" class="buttons twitter" tooltip="Compartilhe no Twitter"> 
            <i class="fab fa-twitter"></i> 
        </a>
        <a target="_blank" href="mailto:?subject=Veja esta oferta!&body={{url().current}}" class="buttons email" tooltip="Compartilhe por Email">
            <i class="far fa-envelope"></i>
        </a>
        <a target="_blank" href="https://plus.google.com/share?url={{url().current}}" class="buttons gmais" tooltip="Compartilhe no Google Plus">
            <i class="fab fa-google-plus"></i>
        </a>

        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{url().current}}" class="buttons facebook" tooltip="Compartilhe no Facebook">
            <i class="fab fa-facebook"></i>
        </a>

        <a class="buttons wrap_rotate" href="#" onClick="return false;" tooltip="Compartilhe">
            <span class="rotate">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </span>
        </a>
    </nav>
</div>
